<h1><%= @user.username %></h1>

<div>
  <% @user.images.each do |image| %>
  	<%= image_tag image %>
  <% end %>
</div>

<ul>
  <li><%= link_to "Edit", edit_user_path(@user) %></li>
  <li><%= link_to "Destroy", user_path(@user),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>

<%= form_with model: @user do |form| %>
  <div class="field">
    <%= form.label :images %>
    <%= form.file_field :images, multiple: true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
